{% extends "base.html" %}

{% block title %}{{ section.title }}{% endblock title %}

{% block content %}
  <article>
    <header>
      <h2>{{ section.title }}</h2>
      {% if section.description %}
        <p>{{ section.description }}</p>
      {% endif %}
    </header>
    <ul>
      {% if paginator %}
        {% for page in paginator.pages %}
          <li>
            <a href="{{ page.permalink }}">{{ page.title }}</a>
          </li>
        {% endfor %}
      {% else %}
        {% for page in section.pages %}
          <li>
            <a href="{{ page.permalink }}">{{ page.title }}</a>
            {% if page.date %}
              <span>{{ page.date | date(format="%Y-%m-%d") }}</span>
            {% endif %}
          </li>
        {% endfor %}
      {% endif %}
    </ul>
  </article>
{% endblock content %}
